.users-list {
    margin-top: 60px;
    font-size: 16px;
  }

  .title-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


  .title-buttons button {
    background-color: #5C4A85;
    border-color: #5C4A85;
  }
  .title-buttons button:hover {
    background-color: #A985FF;
    border-color: #A985FF;
  }

  .profile-data {
    display: flex;
    justify-content: space-between;
  }

  .profile-data span {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 8px;
  }

  .profile-data button {
    margin-left: 10px;
    background-color: #5C4A85;
    border-color: #5C4A85;
  }

  .profile-data button:hover {
    background-color: #A985FF;
    border-color: #A985FF;
  }

  .list-group {
    margin: 10px 50px;
  }