.header {
	height: 48px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	margin-right: 50px;
  	margin-left: 50px;
	padding-top: 5px;
	position: fixed;
	background: #A985FF;
	z-index: 1000;
}
  
.header p {
	color: white;
	display: inline-block;
	margin-left: 8px;
	font-weight: 500;
	font-size: 20px;
}

