.login-button {
    background-color: #876ACC;
    border-color: #554280;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #554280;
  }

.login-button:disabled{
    background-color:#A985FF;
}

@media all and (min-width: 480px) {
    .login {
      padding: 60px 0;
    }
  
    .login-form {
      margin: 0 auto;
      max-width: 320px;
    }
  }